#
# Reddit bot requirements
#
aiofiles==0.8.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
aiosqlite==0.17.0
annotated-types==0.7.0
asyncpraw==7.8.1
asyncprawcore==2.4.0
attrs==24.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
frozenlist==1.4.1
idna==3.7
multidict==6.0.5
propcache==0.2.0
pydantic==2.12.4
pydantic-core==2.41.5
python-dateutil==2.9.0.post0
requests==2.32.4
six==1.16.0
typing-extensions==4.15.0
typing-inspection==0.4.2
update-checker==0.18.0
urllib3==2.5.0
yarl==1.17.2
